<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" action="/change_password" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Sign In
          </h4>
          <label for="">Code</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="code" placeholder="Enter recovery code">
          </div>

          <label for="">Email</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="email" name="email" placeholder="Enter Email">
          </div>

          <label for="">New Password</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="password" placeholder="Enter Your New Password"/>
          </div>
          <div class="w-size25">
            <!-- Button -->
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
