<%- include('../partials/head') %>

<% if(user.account_type == "designer" || user.account_type == "admin") {%>
  <section>
    <div class="container bgwhite p-t-35 p-b-80">
      <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
          <div class="wrap-slick3 flex-sb flex-w">
            <div class="wrap-slick3-dots"></div>

            <div class="slick3">
                <div class="item-slick3" data-thumb="/profile_img/<%= data.profile_image%>">
                  <div class="wrap-pic-w">
                    <img src="/profile_img/<%= data.profile_image%>" alt="IMG-PRODUCT">
                  </div>
                </div>

            </div>
          </div>
        </div>

        <div class="w-size14 p-t-30 respon5">
          <h4 class="product-detail-name m-text16 p-b-13">
            <%= data.company%>
          </h4>

          <span class="m-text17">
            CEO :  <%= data.firstname%> <%= data.lastname%>
          </span>

          <!--  -->
          <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
              Additional Information
              <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
              <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
            </h5>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Location:
              </h4>

              <p class="s-text8">
                <%= data.address%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                About Us:
              </h4>

              <p class="s-text8">
                <%- data.company_desc%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Phone:
              </h4>

              <p class="s-text8">
                +234-<%= data.phone%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Email:
              </h4>

              <p class="s-text8">
                <%= data.email%>
              </p>
            </div>
          </div>
          <!--  -->
          <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
              Account Information
              <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
              <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
            </h5>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Bank Name:
              </h4>

              <p class="s-text8">
                <%= data.bank%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Account Name:
              </h4>

              <p class="s-text8">
                <%= data.account_name%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Account Number:
              </h4>

              <p class="s-text8">
                <%= data.account_number%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Months Earnings:
              </h4>

              <p class="s-text8">
                &#8358; <%= data.wallet%>
              </p>
            </div>
            <br>
            <a class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" href="/update_profile/<%= data.id %>">Update Profile</a><br>
            <a class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" href="/add_product">Add Product</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cart bgwhite p-t-70 p-b-100">
    <h4>Pending Orders</h4>
    <div class="container">
      <!-- Cart item -->
      <div class="container-table-cart pos-relative">
        <div class="wrap-table-shopping-cart bgwhite">
          <table class="table-shopping-cart">
            <tr class="table-head">
              <th class="column-1"></th>
              <th class="column-2">Product</th>
              <th class="column-2">Size</th>
              <th class="column-3">Price</th>
              <th class="column-3">Quantity</th>
              <th class="column-4 p-l-70">Status</th>
              <th class="column-5">Action</th>
            </tr>

                <% pending.forEach(function(p){ %>
                  <tr class="table-row">
                    <td class="column-1">
                      <div class="cart-img-product b-rad-4 o-f-hidden">
                        <img src="/products/<%=p.cart.image[0]%>" alt="IMG-PRODUCT">
                      </div>
                    </td>
                    <td class="column-2"><%= p.cart.name %></td>
                    <td class="column-2"><%= p.cart.size %></td>
                    <td class="column-3">&#8358;<%= p.cart.price %></td>
                    <td class="column-4">
                      <div class="flex-w bo5 of-hidden w-size17">

                        <input class="size8 m-text18 t-center num-product" type="number" value="<%= p.cart.qty %>">

                      </div>
                    </td>
                    <td class="column-3"><%= p.status %></td>
                    <td class="column-3"> <a href="/order/details/<%= p.id%>">View</a> </td>
                  </tr>
                <%  }); %>
          </table>
        </div>
      </div>

    </div>
  </section>

  <section class="cart bgwhite p-t-70 p-b-100">
    <h4>Completed Orders</h4>
    <div class="container">
      <!-- Cart item -->
      <div class="container-table-cart pos-relative">
        <div class="wrap-table-shopping-cart bgwhite">
          <table class="table-shopping-cart">
            <tr class="table-head">
              <th class="column-1"></th>
              <th class="column-2">Product</th>
              <th class="column-2">Size</th>
              <th class="column-3">Price</th>
              <th class="column-3">Quantity</th>
              <th class="column-4 p-l-70">Status</th>
              <th class="column-5">Action</th>
            </tr>

                <% complete.forEach(function(c){ %>
                  <tr class="table-row">
                    <td class="column-1">
                      <div class="cart-img-product b-rad-4 o-f-hidden">
                        <img src="/products/<%=c.cart.image[0]%>" alt="IMG-PRODUCT">
                      </div>
                    </td>
                    <td class="column-2"><%= c.cart.name %></td>
                    <td class="column-2"><%= c.cart.size %></td>
                    <td class="column-3">&#8358;<%= c.cart.price %></td>
                    <td class="column-4">
                      <div class="flex-w bo5 of-hidden w-size17">

                        <input class="size8 m-text18 t-center num-product" type="number" value="<%= c.cart.qty %>">

                      </div>
                    </td>
                    <td class="column-3">&#8358;<%= c.status %></td>
                    <td class="column-3"> <a href="/order/details/<%= c.id%>">View</a> </td>
                  </tr>
                <%  }); %>
          </table>
        </div>
      </div>

    </div>
  </section>

  <section class="relateproduct bgwhite p-t-45 p-b-138">
  <div class="container">
    <div class="sec-title p-b-60">
      <h3 class="m-text5 t-center">
        My Products
      </h3>
    </div>

    <!-- Slide2 -->
    <div class="wrap-slick2">
      <div class="slick2">

          <% for(var p of data.products) { %>
            <div class="item-slick2 p-l-15 p-r-15">
              <!-- Block2 -->
              <div class="block2">
                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                  <img src="/products/<%= p.image[0] %>" alt="IMG-PRODUCT">

                  <div class="block2-overlay trans-0-4">
                    <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                      <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                      <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                    </a>

                    <div class="block2-btn-addcart w-size1 trans-0-4">
                      <!-- Button -->
                      <a href="/product/<%= p.id %>/delete" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                        Delete Product
                      </a>
                    </div>
                  </div>
                </div>

                <div class="block2-txt p-t-20">
                  <a href="/product/<%= p.id %>/details" class="block2-name dis-block s-text3 p-b-5">
                    <%= p.name %>
                  </a>

                  <span class="block2-price m-text6 p-r-5">
                    &#8358;<%= p.price %>
                  </span>
                </div>
              </div>
            </div>
          <% } %>

      </div>
    </div>

  </div>
</section>

<% } else if (user.account_type == 'client') { %>
  <section>
    <div class="container bgwhite p-t-35 p-b-80">
      <div class="flex-w flex-sb">
        <div class="w-size13 p-t-30 respon5">
          <div class="wrap-slick3 flex-sb flex-w">
            <div class="wrap-slick3-dots"></div>

            <div class="slick3">
                <div class="item-slick3" data-thumb="/profile_img/<%= data.profile_image%>">
                  <div class="wrap-pic-w">
                    <img src="/profile_img/<%= data.profile_image%>" alt="IMG-PRODUCT">
                  </div>
                </div>

            </div>
          </div>
        </div>

        <div class="w-size14 p-t-30 respon5">

          <span class="m-text17">
            <%= data.firstname%> <%= data.lastname%>
          </span>
          <br><br><br>
          <!--  -->
          <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
            <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
              Meta Data
              <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
              <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
            </h5>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Shipping Address:
              </h4>
              <p class="s-text8">
                <%= data.shipping_address%>
              </p>
            </div>

            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <h4 class="product-detail-name m-text16 p-b-13">
                Phone Number:
              </h4>
              <p class="s-text8">
                +234-<%= data.phone%>
              </p>
            </div>

          </div>
          <a class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4" href="/update_profile/<%= data.id %>">Update Profile</a>
        </div>
      </div>
    </div>
  </section>

  <section class="cart bgwhite p-t-70 p-b-100">
    <h4>Pending Orders</h4>
    <div class="container">
      <!-- Cart item -->
      <div class="container-table-cart pos-relative">
        <div class="wrap-table-shopping-cart bgwhite">
          <table class="table-shopping-cart">
            <tr class="table-head">
              <th class="column-1"></th>
              <th class="column-2">Product</th>
              <th class="column-2">Size</th>
              <th class="column-3">Price</th>
              <th class="column-3">Quantity</th>
              <th class="column-4 p-l-70">Status</th>
              <th class="column-5">Action</th>
            </tr>


              <% pending.forEach(function(p){ %>
                <tr class="table-row">
                  <td class="column-1">
                    <div class="cart-img-product b-rad-4 o-f-hidden">
                      <img src="/products/<%=p.cart.image[0]%>" alt="IMG-PRODUCT">
                    </div>
                  </td>
                  <td class="column-2"><%= p.cart.name %></td>
                  <td class="column-2"><%= p.cart.size %></td>
                  <td class="column-3">&#8358;<%= p.cart.price %></td>
                  <td class="column-4">
                    <div class="flex-w bo5 of-hidden w-size17">

                      <input class="size8 m-text18 t-center num-product" type="number" value="<%= p.cart.qty %>">

                    </div>
                  </td>
                  <td class="column-3"><%= p.status %></td>
                  <td class="column-3"> <a href="/order/details/<%= p.id%>">View</a> </td>
                </tr>
              <%  }); %>
          </table>
        </div>
      </div>

    </div>
  </section>

  <section class="cart bgwhite p-t-70 p-b-100">
    <h4>Completed Orders</h4>
    <div class="container">
      <!-- Cart item -->
      <div class="container-table-cart pos-relative">
        <div class="wrap-table-shopping-cart bgwhite">
          <table class="table-shopping-cart">
            <tr class="table-head">
              <th class="column-1"></th>
              <th class="column-2">Product</th>
              <th class="column-2">Size</th>
              <th class="column-3">Price</th>
              <th class="column-3">Quantity</th>
              <th class="column-4 p-l-70">Status</th>
              <th class="column-5">Action</th>
            </tr>


              <% complete.forEach(function(c){ %>
                <tr class="table-row">
                  <td class="column-1">
                    <div class="cart-img-product b-rad-4 o-f-hidden">
                      <img src="/products/<%=c.cart.image[0]%>" alt="IMG-PRODUCT">
                    </div>
                  </td>
                  <td class="column-2"><%= c.cart.name %></td>
                  <td class="column-2"><%= c.cart.size %></td>
                  <td class="column-3">&#8358;<%= c.cart.price %></td>
                  <td class="column-4">
                    <div class="flex-w bo5 of-hidden w-size17">

                      <input class="size8 m-text18 t-center num-product" type="number" value="<%= c.qty %>">

                    </div>
                  </td>
                  <td class="column-3"><%= c.status %></td>
                  <td class="column-3"> <a href="/order/details/<%= c.id%>">View</a> </td>
                </tr>
              <%  }); %>
          </table>
        </div>
      </div>

    </div>
  </section>
<% } %>

<%- include('../partials/foot') %>
