<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" action="/register" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Sign Up
          </h4>

          <label for="">Firstname</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="firstname" placeholder="Enter Firstname">
          </div>

          <label for="">Lastname</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="lastname" placeholder="Enter last name">
          </div>

          <label for="">Email</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="email" name="email" placeholder="Email">
          </div>

          <label for="">Phone Number</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="phone" placeholder="Phone Number">
          </div>

          <label for="">Password</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="password" name="password" max="4" placeholder="Password">
          </div>

          <label for="">Account Type</label>
          <div class="bo4 of-hidden size15 m-b-20">
                <select class="selection-2" name="account_type" required>
                  <option value="client">Client</option>
                  <option value="designer">Designer</option>
                  <option value="admin">Admin</option>
                </select>
          </div>
          <div class="w-size25">
            <!-- Button -->
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
