<%- include('../partials/head') %>
<% if(user.account_type == 'client') { %>

  <section class="bgwhite p-t-66 p-b-60">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-b-30">
          <form class="leave-comment" action="/update/<%= user._id%>" method="POST" enctype="multipart/form-data">
            <h4 class="m-text26 p-b-36 p-t-15">
              Update Profile Information
            </h4>

            <label for="">Firstname</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.firstname%>" name="firstname" placeholder="Enter Firstname">
            </div>

            <label for="">Lastname</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.lastname%>" type="text" name="lastname" placeholder="Enter last name">
            </div>

            <label for="">Phone Number</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="number" value="<%= data.phone%>" name="phone" placeholder="Phone Number">
            </div>

            <label for="">Profile Image</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="profile_image">
            </div>


            <label for="">Country</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.country%>" name="country" placeholder="Country">
            </div>

            <label for="">State</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.state%>" name="state" placeholder="State">
            </div>

            <label for="">Shipping Address</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.shipping_address%>" name="shipping_address" placeholder="Enter your shipping address">
            </div>

            <div class="w-size25">
              <!-- Button -->
              <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<% } else if (user.account_type == 'designer' || user.account_type == 'admin') { %>

  <section class="bgwhite p-t-66 p-b-60">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-b-30">
          <form class="leave-comment" action="/update/<%= user._id%>" method="POST" enctype="multipart/form-data">
            <h4 class="m-text26 p-b-36 p-t-15">
              Update Profile
            </h4>

            <label for="">Firstname</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.firstname%>" type="text" name="firstname" placeholder="Enter Firstname">
            </div>

            <label for="">Lastname</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.lastname%>" type="text" name="lastname" placeholder="Enter last name">
            </div>

            <label for="">Company Name</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.company%>" name="company" max="4" placeholder="Company Name">
            </div>

            <label for="">Profile Image</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="profile_image">
            </div>

            <label for="">Company Location</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.address%>" name="address" max="4" placeholder="Company Location">
            </div>

            <label for="">Shipping Address</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.shipping_address%>" name="shipping_address" placeholder="Enter your shipping address">
            </div>

            <label for="">Country</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.country%>" type="text" name="country" placeholder="Country">
            </div>

            <label for="">State</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.state%>"type="text" name="state" placeholder="State">
            </div>

            <label for="">Company Information</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <textarea class="sizefull s-text7 p-l-22 p-r-22" id="ta" value="<%- data.company_desc%>" type="text" name="company_desc" max="4" placeholder="Tell Us about your company">
              </textarea>
            </div>

            <label for="">Phone Number</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.phone%>" type="number" name="phone" placeholder="Phone Number">
            </div>
            <hr>
            <h4>Account Information</h4>
            <p> <em>this is to enable us pay you monthly</em> </p>

            <label for="">Bank Name</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" value="<%= data.bank%>" type="text" name="bank" placeholder="Name of Bank">
            </div>

            <label for="">Account Name</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text"value="<%= data.account_name%>" name="account_name" placeholder="Name of Account holder">
            </div>

            <label for="">Account Number</label>
            <div class="bo4 of-hidden size15 m-b-20">
              <input class="sizefull s-text7 p-l-22 p-r-22" type="text" value="<%= data.account_number%>" name="account_number" placeholder="Account number">
            </div>

            <div class="w-size25">
              <!-- Button -->
              <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                Update Profile
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<% } %>
<%- include('../partials/foot') %>
