<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tailored | <%-title%></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/LogoSample_ByTailorBrands (1).jpg"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/themify/themify-icons.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/elegant-font/html-css/style.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/lightbox2/css/lightbox.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body class="animsition">

	<!-- header fixed -->
	<div class="wrap_header fixed-header2 trans-0-4">
		<!-- Logo -->
		<a href="/" class="logo">
			  <img src="/images/LogoSample_ByTailorBrands (1).jpg" alt="IMG-LOGO">
		</a>

		<!-- Menu -->
		<div class="wrap_menu">
			<nav class="menu">
				<ul class="main_menu">
					<li>
						<a href="/">Home</a>
					</li>

					<li>
						<a href="/products">Shop</a>
					</li>

					<% if(isAuthenticated && user.account_type == "admin") { %>
							<li>
								<a href="/admin/all_orders">All Orders</a>
							</li>
					<% } %>

					<li>
						<a href="/blog">Blog</a>
					</li>

					<% if(!isAuthenticated) { %>
						<li>
							<a href="/login">Sign In</a>
						</li>

						<li>
							<a href="/register">Sign Up</a>
						</li>
				<%	} else{ %>
					<li>
						<a href="/profile/<%= user.email%>">My Profile</a>
					</li>
						<li>
							<a href="/logout">Logout</a>
						</li>
				<%	} %>
				</ul>
			</nav>
		</div>
    <!-- Header Icon -->
    <div class="header-icons">
      <a href="#" class="header-wrapicon1 dis-block">
        <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
      </a>

      <span class="linedivide1"></span>

      <div class="header-wrapicon2">
        <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
        <% if(typeof cart !== 'undefined') { %>
					<span class="header-icons-noti"><%=cart.length%></span>
				<% } else { %>
					<span class="header-icons-noti">0</span>
				<% } %>

        <!-- Header cart noti -->
        <div class="header-cart header-dropdown">
          <ul class="header-cart-wrapitem">

						<% if(typeof cart !== "undefined") { %>
							<% var total = 0; %>
							<% for(var c of cart ) { %>
                  <% var sub = parseFloat(c.qty * c.price).toFixed(2) %>
                  <% total += +sub %>
								<li class="header-cart-item">
									<div class="header-cart-item-img">
											<img src="/products/<%=c.image[0]%>" alt="IMG">
									</div>

									<div class="header-cart-item-txt">
										<a href="/product/<%= c.id%>/details" class="header-cart-item-name">
											<%= c.name%>
										</a>

										<span class="header-cart-item-info">
											&#8358;<%= sub%>
										</span>
									</div>
								</li>
							<% } %>
							<div class="header-cart-total">
								Total: &#8358;<%= parseFloat(total).toFixed(2) %>
							</div>

							<div class="header-cart-buttons">
								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="/my_cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										View Cart
									</a>
								</div>

								<div class="header-cart-wrapbtn">
									<!-- Button -->
									<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
										Check Out
									</a>
								</div>
							</div>
						<% } else { %>
							Cart is Empty
						<% } %>

          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- top noti -->

  <!-- Header -->
  <header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2 p-t-26">
      <div class="topbar2">
        <div class="topbar-social">
          <a href="#" class="topbar-social-item fa fa-facebook"></a>
          <a href="#" class="topbar-social-item fa fa-instagram"></a>
          <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
          <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
          <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
        </div>

        <!-- Logo2 -->
        <a href="/" class="logo2">
          <img src="/images/LogoSample_ByTailorBrands (1).jpg" alt="IMG-LOGO">
        </a>

        <div class="topbar-child2">

          <!--  -->
          <a href="#" class="header-wrapicon1 dis-block m-l-30">
            <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
          </a>

          <span class="linedivide1"></span>

          <div class="header-wrapicon2 m-r-13">
            <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<% if(typeof cart !== 'undefined') { %>
							<span class="header-icons-noti"><%=cart.length%></span>
						<% } else { %>
							<span class="header-icons-noti">0</span>
						<% } %>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">

								<% if(typeof cart !== "undefined") { %>
									<% var total = 0; %>
									<% for(var c of cart ) { %>
		                  <% var sub = parseFloat(c.qty * c.price).toFixed(2) %>
		                  <% total += +sub %>
										<li class="header-cart-item">
											<div class="header-cart-item-img">
													<img src="/products/<%=c.image[0]%>" alt="IMG">
											</div>

											<div class="header-cart-item-txt">
												<a href="/product/<%= c.id%>/details" class="header-cart-item-name">
													<%= c.name%>
												</a>

												<span class="header-cart-item-info">
													&#8358;<%= sub%>
												</span>
											</div>
										</li>
									<% } %>
									<div class="header-cart-total">
										Total: &#8358;<%= parseFloat(total).toFixed(2) %>
									</div>

									<div class="header-cart-buttons">
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/my_cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												View Cart
											</a>
										</div>

										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Check Out
											</a>
										</div>
									</div>
								<% } else { %>
									Cart is Empty
								<% } %>

		          </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="wrap_header">

        <!-- Menu -->
				<div class="wrap_menu">
					<nav class="menu">
						<ul class="main_menu">
							<li>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="/products">Shop</a>
							</li>


							<% if(isAuthenticated && user.account_type == "admin") { %>
									<li>
										<a href="/admin/all_orders">All Orders</a>
									</li>
							<% } %>

							<li>
								<a href="/blog">Blog</a>
							</li>

							<% if(!isAuthenticated) { %>
								<li>
									<a href="/login">Sign In</a>
								</li>

								<li>
									<a href="/register">Sign Up</a>
								</li>
						<%	} else{ %>
							<li>
								<a href="/profile/<%= user.email%>">My Profile</a>
							</li>
								<li>
									<a href="/logout">Logout</a>
								</li>
						<%	} %>
						</ul>
					</nav>
				</div>

        <!-- Header Icon -->
        <div class="header-icons">

        </div>
      </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
      <!-- Logo moblie -->
      <a href="/" class="logo-mobile">
          <img src="/images/LogoSample_ByTailorBrands (1).jpg" alt="IMG-LOGO">
      </a>

      <!-- Button show menu -->
      <div class="btn-show-menu">
        <!-- Header Icon mobile -->
        <div class="header-icons-mobile">
          <a href="#" class="header-wrapicon1 dis-block">
            <img src="/images/icons/icon-header-01.png" class="header-icon1" alt="ICON">
          </a>

          <span class="linedivide2"></span>

          <div class="header-wrapicon2">
            <img src="/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
						<% if(typeof cart !== 'undefined') { %>
							<span class="header-icons-noti"><%=cart.length%></span>
						<% } else { %>
							<span class="header-icons-noti">0</span>
						<% } %>

            <!-- Header cart noti -->
            <div class="header-cart header-dropdown">
							<ul class="header-cart-wrapitem">

								<% if(typeof cart !== "undefined") { %>
									<% var total = 0; %>
									<% for(var c of cart ) { %>
		                  <% var sub = parseFloat(c.qty * c.price).toFixed(2) %>
		                  <% total += +sub %>
										<li class="header-cart-item">
											<div class="header-cart-item-img">
													<img src="/products/<%=c.image[0]%>" alt="IMG">
											</div>

											<div class="header-cart-item-txt">
												<a href="/product/<%= c.id%>/details" class="header-cart-item-name">
													<%= c.name%>
												</a>

												<span class="header-cart-item-info">
													&#8358;<%= sub%>
												</span>
											</div>
										</li>
									<% } %>
									<div class="header-cart-total">
										Total: &#8358;<%= parseFloat(total).toFixed(2) %>
									</div>

									<div class="header-cart-buttons">
										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="/my_cart" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												View Cart
											</a>
										</div>

										<div class="header-cart-wrapbtn">
											<!-- Button -->
											<a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
												Check Out
											</a>
										</div>
									</div>
								<% } else { %>
									Cart is Empty
								<% } %>

		          </ul>
            </div>
          </div>
        </div>

        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </div>
      </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu" >
			<div class="wrap_menu">
				<nav class="menu">
					<ul class="main_menu">
						<li>
							<a href="/">Home</a>
						</li>

						<li>
							<a href="/products">Shop</a>
						</li>


						<% if(isAuthenticated && user.account_type == "admin") { %>
								<li>
									<a href="/admin/all_orders">All Orders</a>
								</li>
						<% } %>

						<li>
							<a href="/blog">Blog</a>
						</li>

						<% if(!isAuthenticated) { %>
							<li>
								<a href="/login">Sign In</a>
							</li>

							<li>
								<a href="/register">Sign Up</a>
							</li>
					<%	} else{ %>
						<li>
							<a href="/profile/<%= user.email%>">My Profile</a>
						</li>
							<li>
								<a href="/logout">Logout</a>
							</li>
					<%	} %>
					</ul>
				</nav>
			</div>
    </div>
  </header>
		<% if(success_msg) {%>
			<div class="alert-success">
					<%= success_msg %>
			</div>
		<% } %>
		<% if(error_msg) {%>
			<div class="alert-danger">
					<%= error_msg %>
			</div>
		<% } %>
