<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" action="/dispute/<%= order.id %>" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Make a complain
          </h4>

          <label for="">Complain</label>
          <textarea class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" row="4" name="complain"></textarea>

          <div class="w-size25">
            <!-- Button -->
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Open Dispute
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
