<%- include('../partials/head') %>

  <!-- Product Detail -->
  <div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
      <div class="w-size13 p-t-30 respon5">
        <div class="wrap-slick3 flex-sb flex-w">
          <div class="wrap-slick3-dots"></div>

          <div class="slick3">
              <% for(var d of dispute.product.cart.image) { %>
                <div class="item-slick3" data-thumb="/products/<%= [d] %> ">
                  <div class="wrap-pic-w">
                    <img src="/products/<%= [d] %>" alt="IMG-PRODUCT">
                  </div>
                </div>
              <% } %>
          </div>
        </div>
      </div>

      <div class="w-size14 p-t-30 respon5">
        <h4 class="product-detail-name m-text16 p-b-13">
          <%= dispute.product.cart.name%>
        </h4>

        <span class="m-text17">
          &#8358;<%= dispute.product.cart.price %>
        </span>
        <!--  -->
        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Dispute
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <%= dispute.complaint %>
            </p>
          </div>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <form class="leave-comment" action="/dispute/reply/<%= dispute.id %>" method="post">
              <h4 class="m-text26 p-b-36 p-t-15">
                Replies
              </h4>
              <%for(var r of dispute.reply){ %>
                <hr>
                <h6><%= r.repliedBy%> - <%= r.repliedOn%></h6>
                <hr>
                <p><%= r.message%></p>
                <br>
              <% } %>
              <label for="">Reply</label>
              <textarea class="sizefull s-text7 p-l-22 p-r-22" name="message"></textarea>

              <div class="w-size25">
                <!-- Button -->
                <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
                  Reply
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

<%- include('../partials/foot') %>
