<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" action="/update_location/<%= order%>" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Change Location
          </h4>

          <label for="">Location</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="location" placeholder="Enter New Location"/>
          </div>
          <div class="w-size25">
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Update Location
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
