<%- include('../partials/head') %>

  <!-- Product Detail -->
  <div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
      <div class="w-size13 p-t-30 respon5">
        <div class="wrap-slick3 flex-sb flex-w">
          <div class="wrap-slick3-dots"></div>

          <div class="slick3">
            <% for (var i=0; i < data.cart.image.length; i++){ %>
              <div class="item-slick3" data-thumb="/products/<%= data.cart.image[i]%>">
                <div class="wrap-pic-w">
                  <img src="/products/<%= data.cart.image[i]%>" alt="IMG-PRODUCT">
                </div>
              </div>
            <% } %>

          </div>
        </div>
      </div>

      <div class="w-size14 p-t-30 respon5">
        <h4 class="product-detail-name m-text16 p-b-13">
          <%= data.cart.name%>
        </h4>

        <span class="m-text17">
          &#8358;<%= data.cart.price%>
        </span>

        <!--  -->
        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Details
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <span class="m-text17">
              Shipping Address
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.shipping_address%>
              </p>
            </div>
            <span class="m-text17">
              Phone Number
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.client.phone%>
              </p>
            </div>

            <span class="m-text17">
              Ordered By
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.client.firstname%> <%= data.client.lastname%>
              </p>
            </div>
          </div>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <span class="m-text17">
              Designer
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.designer.company%>
              </p>
            </div>
          </div>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <span class="m-text17">
              Total Order Price
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                &#8358; <%= data.amount%>
              </p>
            </div>
          </div>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <span class="m-text17">
              Tracking (Current Location Of Product)
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.location%>
              </p>
            </div>
          </div>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <span class="m-text17">
              Order Date
            </span>
            <div class="dropdown-content dis-none p-t-15 p-b-23">
              <p class="s-text8">
                <%= data.created%>
              </p>
            </div>
          </div>

          <br>

          <% if(user.email == data.client.email && !data.done && data.status == 'delivered') { %>
            <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/recieved/<%= data.id%>">Confirm Order Recieved</a> <br><br>
            <% } else if (user.email == data.designer.email && data.status == 'processing') { %>
              <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/shipped/<%= data.id%>">Shipped</a> <br> <br>
              <% } else if (user.email == data.designer.email && !data.done && data.status == "shipped") { %>
                <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/delivered/<%= data.id%>">Delivered</a> <br><br>
                <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/update_location/<%= data.id %>">Update Order Location</a> <br><br>
                <% } %>

                <% if (data.dispute == 'none' && data.client.email == user.email) { %>
                  <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/dispute/<%= data.id%>">Open Dispute</a> <br><br>
                  <% } %>

                  <% if (data.dispute !== 'none') { %>
                    <a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/details/<%= data.disputed %>/dispute">Dispute Details</a> <br><br>
                    <% } %>

        </div>
      </div>

    </div>
  </div>

<!-- Relate Product -->
<%- include('../partials/foot') %>
