<%- include('../partials/head') %>

<section class="cart bgwhite p-t-70 p-b-100">
  <h4>Pending Orders</h4>
  <div class="container">
    <!-- Cart item -->
    <div class="container-table-cart pos-relative">
      <div class="wrap-table-shopping-cart bgwhite">
        <table class="table-shopping-cart">
          <tr class="table-head">
            <th class="column-1"></th>
            <th class="column-2">Product</th>
            <th class="column-2">Size</th>
            <th class="column-3">Price</th>
            <th class="column-3">Quantity</th>
            <th class="column-4 p-l-70">Status</th>
            <th class="column-5">Action</th>
          </tr>


            <% pending.forEach(function(c){ %>
              <tr class="table-row">
                <td class="column-1">
                  <div class="cart-img-product b-rad-4 o-f-hidden">
                    <img src="/products/<%=c.cart.image[0]%>" alt="IMG-PRODUCT">
                  </div>
                </td>
                <td class="column-2"><%= c.cart.name %></td>
                <td class="column-2"><%= c.cart.size %></td>
                <td class="column-3">&#8358;<%= c.cart.price %></td>
                <td class="column-4">
                  <div class="flex-w bo5 of-hidden w-size17">

                    <input class="size8 m-text18 t-center num-product" type="number" value="<%= c.cart.qty %>">

                  </div>
                </td>
                <td class="column-3"><%= c.status %></td>
                <td class="column-3"> <a href="/order/details/<%= c.id%>">View</a> </td>
              </tr>
            <%  }); %>
        </table>
      </div>
    </div>

  </div>
</section>

<section class="cart bgwhite p-t-70 p-b-100">
  <h4>Completed Orders</h4>
  <div class="container">
    <!-- Cart item -->
    <div class="container-table-cart pos-relative">
      <div class="wrap-table-shopping-cart bgwhite">
        <table class="table-shopping-cart">
          <tr class="table-head">
            <th class="column-1"></th>
            <th class="column-2">Product</th>
            <th class="column-2">Size</th>
            <th class="column-3">Price</th>
            <th class="column-3">Quantity</th>
            <th class="column-4 p-l-70">Status</th>
            <th class="column-5">Action</th>
          </tr>


            <% complete.forEach(function(c){ %>
              <tr class="table-row">
                <td class="column-1">
                  <div class="cart-img-product b-rad-4 o-f-hidden">
                    <img src="/products/<%=c.cart.image[0]%>" alt="IMG-PRODUCT">
                  </div>
                </td>
                <td class="column-2"><%= c.cart.name %></td>
                <td class="column-2"><%= c.cart.size %></td>
                <td class="column-3">&#8358;<%= c.cart.price %></td>
                <td class="column-4">
                  <div class="flex-w bo5 of-hidden w-size17">

                    <input class="size8 m-text18 t-center num-product" type="number" value="<%= c.cart.qty %>">

                  </div>
                </td>
                <td class="column-3"><%= c.status %></td>
                <td class="column-3"> <a href="/order/details/<%= c.id%>">View</a> </td>
              </tr>
            <%  }); %>
        </table>
      </div>
    </div>

  </div>
</section>

<%- include('../partials/foot') %>
