  <%- include('../partials/head') %>

      <!-- Slide1 -->
      <section class="slide1">
        <div class="wrap-slick1">
          <div class="slick1">

            <div class="item-slick1 item1-slick1" style="background-image: url(images/fashion_BMP_2581.jpg);">
              <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                <h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="fadeInUp">
                  Women Fahion
                </h2>

                <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="fadeInDown">
                  New African women Collection 2019
                </span>

                <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="zoomIn">
                  <!-- Button -->
                  <a href="/products" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                    Shop Now
                  </a>
                </div>
              </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(images/lifestyle_BMP_9665.jpg);">
              <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                <h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rollIn">
                  Children Clothings
                </h2>

                <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="lightSpeedIn">
                  Best Collection of culture for african children
                </span>

                <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="slideInUp">
                  <!-- Button -->
                  <a href="/products" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                    Shop Now
                  </a>
                </div>
              </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(images/Photo_collage1550375058115.png);">
              <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                <h2 class="caption1-slide1 xl-text2 t-center bo14 p-b-6 animated visible-false m-b-22" data-appear="rotateInDownLeft">
                  Men Collection
                </h2>

                <span class="caption2-slide1 m-text1 t-center animated visible-false m-b-33" data-appear="rotateInUpRight">
                  The Great mixture of fashion and class of the african man
                </span>

                <div class="wrap-btn-slide1 w-size1 animated visible-false" data-appear="rotateIn">
                  <!-- Button -->
                  <a href="/products" class="flex-c-m size2 bo-rad-23 s-text2 bgwhite hov1 trans-0-4">
                    Shop Now
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Banner -->
      <div class="banner bgwhite p-t-40 p-b-40">
        <div class="container">
          <div class="row">
            <% for(var c of category) { %>
              <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                  <img height="660" width="420" src="/cate_image/<%= c.image%>" alt="IMG-BENNER">

                  <div class="block1-wrapbtn w-size2">
                    <!-- Button -->
                    <a href="/products/<%= c.id %>" class="flex-c-m size2 m-text2 bg3 hov1 trans-0-4">
                      <%= c.name%>
                    </a>
                  </div>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      </div>


      <!-- Our product -->
      <section class="bgwhite p-t-45 p-b-58">
        <div class="container">
          <div class="sec-title p-b-22">
            <h3 class="m-text5 t-center">
              Our Products
            </h3>
          </div>

          <!-- Tab01 -->
          <div class="tab01">
            <!-- Tab panes -->
            <div class="tab-content p-t-35">
              <!-- - -->
              <div class="tab-pane fade show active" id="best-seller" role="tabpanel">
                <div class="row">

                  <!-- display product -->

                    <% for(var p of product) { %>
                      <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                        <!-- Block2 -->
                        <div class="block2">
                          <div class="block2-img wrap-pic-w of-hidden pos-relative">
                              <img height="400" src="/products/<%= p.image[0]%>" alt="IMG-PRODUCT">
                            <div class="block2-overlay trans-0-4">
                              <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                              </a>

                              <div class="block2-btn-addcart w-size1 trans-0-4">
                                <!-- Button -->
                                <!-- <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                  Add to Cart
                                </button> -->
                                <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" href="/product/<%= p.id%>/details">Buy Now</a>
                              </div>
                            </div>
                          </div>

                          <div class="block2-txt p-t-20">
                            <a href="/product/<%= p.id%>/details" class="block2-name dis-block s-text3 p-b-5">
                              <%= p.name%>
                            </a>

                            <span class="block2-newprice m-text8 p-r-5">
                              &#8358;<%= p.price%>
                            </span>
                            <!-- <span class="block2-newprice m-text8 p-r-5">
                              $15.90
                            </span> -->
                          </div>
                        </div>
                      </div>
                    <% } %>

                  <!-- display product -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <!-- Blog -->
      <section class="blog bgwhite p-t-94 p-b-65">
        <div class="container">
          <div class="sec-title p-b-52">
            <h3 class="m-text5 t-center">
              Our Blog
            </h3>
          </div>

          <div class="row">

            <% for(var b of blog) { %>
              <% var hl = b.body.slice(0,200) %>
              <div class="col-sm-10 col-md-4 p-b-30 m-l-r-auto">
                <!-- Block3 -->
                <div class="block3">
                  <a href="/blog/<%= b.id%>" class="block3-img dis-block hov-img-zoom">
                    <img height="250" width="250" src="/blog/<%= b.picture[0] %>" alt="IMG-BLOG">
                  </a>

                  <div class="block3-txt p-t-14">
                    <h4 class="p-b-7">
                      <a href="/blog/<%= b.id%>" class="m-text11">
                        <%= b.title%>
                      </a>
                    </h4>

                    <span class="s-text6">Category</span> <span class="s-text7"><%= b.category.name%></span>
                    <span class="s-text6">on</span> <span class="s-text7"><%= b.created %></span>

                    <p class="s-text8 p-t-16">
                      <%- hl %>
                    </p>
                  </div>
                </div>
              </div>
            <% } %>

          </div>
        </div>
      </section>

  <%- include('../partials/foot') %>
