  <%- include('../partials/head') %>

  	<!-- Cart -->
    <% if(typeof cart !== 'undefined') { %>
  	<section class="cart bgwhite p-t-70 p-b-100">
  		<div class="container">
  			<!-- Cart item -->
  			<div class="container-table-cart pos-relative">
  				<div class="wrap-table-shopping-cart bgwhite">
  					<table class="table-shopping-cart">
  						<tr class="table-head">
  							<th class="column-1"></th>
  							<th class="column-2">Product</th>
  							<th class="column-3">Size</th>
  							<th class="column-3">Price</th>
  							<th class="column-3">Shipping</th>
  							<th class="column-4 p-l-70">Quantity</th>
  							<th class="column-5">Total</th>
  						</tr>


                <% var total = 0; %>
                <% cart.forEach(function(c){ %>
                  <% var sub = parseFloat(c.qty * c.price + c.shipping).toFixed(2) %>
                  <% c.shipping %>
                  <% total += +sub %>
                  <tr class="table-row">
      							<td class="column-1">
      								<div class="cart-img-product b-rad-4 o-f-hidden">
      									<img src="/products/<%= c.image[0]%>" alt="IMG-PRODUCT">
      								</div>
      							</td>
      							<td class="column-2"><%= c.name %></td>
      							<td class="column-2"> <%= c.size %></td>
      							<td class="column-3">&#8358;<%= c.price %></td>
      							<td class="column-3">&#8358;<%= c.shipping %></td>
      							<td class="column-4">
      								<div class="flex-w bo5 of-hidden w-size17">
      									<a href="/cart/update/<%= c.id%>?action=sub" class=" color1 flex-c-m size7 bg8 eff2">
      										<i class="fs-12 fa fa-minus" aria-hidden="true"></i>
      									</a>

      									<input class="size8 m-text18 t-center num-product" type="number" value="<%= c.qty %>">

      									<a href="/cart/update/<%= c.id%>?action=add" class=" color1 flex-c-m size7 bg8 eff2">
      										<i class="fs-12 fa fa-plus" aria-hidden="true"></i>
      									</a>
      								</div>
      							</td>
      							<td class="column-5">&#8358;<%= sub%> <a href="/cart/update/<%= c.id%>?action=remove">Remove</a></td>
      						</tr>
                <%  }); %>
  					</table>
  				</div>
  			</div>

  			<div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
  				<div class="size10 trans-0-4 m-t-10 m-b-10">
  					<!-- Button -->
  					<a href="/cart/clear" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
  						Clear Cart
  					</a>
  				</div>
  			</div>

  			<!-- Total -->
  			<div class="bo9 w-size18 p-l-40 p-r-40 p-t-30 p-b-38 m-t-30 m-r-0 m-l-auto p-lr-15-sm">
  				<h5 class="m-text20 p-b-24">
  					Cart Totals
  				</h5>

  				<!--  -->
  				<div class="flex-w flex-sb bo10 p-t-15 p-b-20">
  					<span class="s-text18 w-size19 w-full-sm">
  						Shipping:
  					</span>
  				</div>

  				<!--  -->
  				<div class="flex-w flex-sb-m p-t-26 p-b-30">
  					<span class="m-text22 w-size19 w-full-sm">
  						Total:
  					</span>

  					<span class="m-text21 w-size20 w-full-sm">
  						&#8358;<%= parseFloat(total).toFixed(2)%>
  					</span>
  				</div>

  				<div class="size15 trans-0-4">
              <form >
                <script src="https://js.paystack.co/v1/inline.js"></script>
                <input type="email" hidden name="" id="email" value="<%= user.email %>" required>
                <input type="text" hidden name="" id="amount" value="<%= total %>" required>
                <input type="text" hidden name="" id="ship" value="<%= user.shipping_address %>" required>

                <% if(user.shipping_address !== undefined ){ %>
                  <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" type="button" onclick="payWithPaystack()"> Proceed to Checkout </button>
                <% } else { %>
                  <h5>Update your profile to complete checkout process <a href="/update_profile/<%=user.id%>"> Update Profile </a> </h5>
                <% } %>
              </form>

              <script>
                function payWithPaystack(){
                  // var axios = require('axios')
                  var email = document.getElementById('email').value
                  var amount = document.getElementById('amount').value
                  var shipping_address = document.getElementById('ship').value

                  var handler = PaystackPop.setup({
                    key: 'pk_test_7f607fb48754a839d62982a53dcd62e5e9a44a2f',
                    email: email,
                    amount: <%= total %> * 100,
                    currency: "NGN",
                    // ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                    metadata: {
                       custom_fields: [
                          {
                              display_name: "Mobile Number",
                              variable_name: "mobile_number",
                              value: ""
                          }
                       ]
                    },
                    callback: function(response){
                        axios.post(`/pay/${response.reference}`,{amount:amount}).then((data)=>{
                          alert('paid successfully' + response.reference);
                          console.log(data)
                          window.location = '/products'
                        }).catch((e)=>{
                          alert('an error has occured');
                          // console.log(e)
                        })
                    },
                    onClose: function(){
                        alert('window closed');
                    }
                  });
                  handler.openIframe();
                }
              </script>
  				</div>
  			</div>
        <% } else { %>
          <div style="align:center;">
            <p>Empty Cart</p>
          </div>
      <% } %>
  		</div>
  	</section>


  <%- include('../partials/foot') %>
