<%- include('../partials/head') %>

<!-- content page -->
	<section class="bgwhite p-t-66 p-b-60">
		<% if(isAuthenticated) { %>
			<% if(user.account_type == "admin") { %>
				<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/create_category">Add Category</a><br><br>
			<% } %>
		<% } %>
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30">
					<form class="leave-comment" enctype="multipart/form-data" action="/products" method="post">
						<h4 class="m-text26 p-b-36 p-t-15">
							Add A New Design
						</h4>
            <label for="">Name of Design</label>
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Name Of Design">
						</div>

            <label for="">Add Design Images (max 4)</label>
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="[image]" max="4" placeholder="Add Design Images (max 4)" multiple/>
						</div>
            <label for="">Price</label>
						<div class="bo4 of-hidden size15 m-b-20">
							<input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="price" placeholder="Price">
						</div>
						<label for="">Category</label>
						<div class="bo4 of-hidden size15 m-b-20">
									<select class="selection-2" name="category" required>
										<option>Choose an option</option>
										<% for (var c of category) { %>
										<option value="<%= c._id%>"><%= c.name %></option>
										<%	} %>
									</select>
						</div>
						<label for="">Designer</label>
						<% if(user.account_type == 'designer') { %>
						<div class="bo4 of-hidden size15 m-b-20">
							<select class="selection-2" name="designer" required>
								<option value="<%= user._id%>"><%= user.email %></option>
							</select>
						</div>
						<% } else if(user.account_type == 'admin'){ %>
							<div class="bo4 of-hidden size15 m-b-20">
									<select class="selection-2" name="designer" required>
										<option>Choose an option</option>
										<% for (var d of designer) { %>
										<option value="<%= d._id%>"><%= d.email %></option>
										<%	} %>
									</select>
							</div>
						<% } %>
            <label for="">Description</label>
						<textarea id="ta" class="dis-block s-text7 size20 bo4 p-l-22 p-r-22 p-t-13 m-b-20" name="description" placeholder="Information On The Design"></textarea>

						<div class="w-size25">
							<!-- Button -->
							<button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
								Add To Shop
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

<%- include('../partials/foot') %>
