<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" enctype="multipart/form-data" action="/category" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Add A New Category
          </h4>
          <label for="">Category Name</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="">
          </div>

          <label for="">Category Image</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="image" placeholder=""/>
          </div>
          <div class="w-size25">
            <!-- Button -->
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
