<%- include('../partials/head') %>

  <!-- Product Detail -->
  <div class="container bgwhite p-t-35 p-b-80">
    <div class="flex-w flex-sb">
      <div class="w-size13 p-t-30 respon5">
        <div class="wrap-slick3 flex-sb flex-w">
          <div class="wrap-slick3-dots"></div>

          <div class="slick3">
            <% for (var i=0; i < product.image.length; i++){ %>
              <div class="item-slick3" data-thumb="/products/<%=product.image[i]%>">
                <div class="wrap-pic-w">
                  <img src="/products/<%= product.image[i]%>" alt="IMG-PRODUCT">
                </div>
              </div>
            <% } %>

          </div>
        </div>
      </div>

      <div class="w-size14 p-t-30 respon5">
        <h4 class="product-detail-name m-text16 p-b-13">
          <%= product.name%>
        </h4>

        <span class="m-text17">
          &#8358;<%= product.price%>
        </span>

        <form class="" action="/add_to_cart/<%= product.slog%>" method="post">
          <!--  -->
          <% if(isAuthenticated) { %>
            <div class="p-t-33 p-b-60">
              <div class="flex-m flex-w p-b-10">
                <div class="s-text15 w-size15 t-center">
                  Size
                </div>

                <div class="rs2-select2 rs3-select2 bo4 of-hidden w-size16">
                  <select class="selection-2" name="size" required>
                    <option>Choose an option</option>
                    <option value="small">Size S</option>
                    <option value="medium">Size M</option>
                    <option value="large">Size L</option>
                    <option value="extra-large">Size XL</option>
                  </select>
                </div>
              </div>

              <div class="flex-r-m flex-w p-t-10">
                <div class="w-size16 flex-m flex-w">

                  <div class="btn-addcart-product-detail size9 trans-0-4 m-t-10 m-b-10">
                    <!-- Button -->
                    <button  type="submit" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                      Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <p>Login To Purchase this Item</p>
          <% } %>
        </form><br><br>

        <div class="p-b-45">
          <span class="s-text8 m-r-35">Designer: <%= product.designer.company%></span>
          <span class="s-text8">Category: <%= related.name%></span>
        </div>

        <!--  -->
        <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
          <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
            Description
            <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
            <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
          </h5>

          <div class="dropdown-content dis-none p-t-15 p-b-23">
            <p class="s-text8">
              <%- product.description%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Relate Product -->
	<section class="relateproduct bgwhite p-t-45 p-b-138">
		<div class="container">
			<div class="sec-title p-b-60">
				<h3 class="m-text5 t-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">
          <% for (var r of related.products) { %>

                      <div class="item-slick2 p-l-15 p-r-15">
                        <!-- Block2 -->
                        <div class="block2">
                          <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">
                                <img height="400" src="/products/<%= r.image[0]%>" alt="IMG-PRODUCT">
                            <div class="block2-overlay trans-0-4">
                              <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                              </a>

                              <div class="block2-btn-addcart w-size1 trans-0-4">

                                <a class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4" href="/product/<%= r._id%>/details">Details</a>
                              </div>
                            </div>
                          </div>

                          <div class="block2-txt p-t-20">
                            <a href="/product/<%= r._id%>/details" class="block2-name dis-block s-text3 p-b-5">
                              <%= r.name%>
                            </a>

                            <span class="block2-price m-text6 p-r-5">
                              &#8358;<%= r.price%>
                            </span>
                          </div>
                        </div>
                      </div>
          <% } %>
				</div>
			</div>

		</div>
	</section>

<%- include('../partials/foot') %>
