<%- include('../partials/head') %>

<!-- content page -->
	<section class="bgwhite p-t-60">
		<div class="container">
			<% if(isAuthenticated) { %>
				<% if(user.account_type == "admin") { %>
					<a class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4" href="/add_post">Add A Post</a>
				<% } %>
			<% } %>
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-75">
					<div class="p-r-50 p-r-0-lg">
            <% for(var b of blog) { %>
              <% var hl = b.body.slice(0,250) %>
              <!-- item blog -->
              <div class="item-blog p-b-80">
                <a href="blog-detail.html" class="item-blog-img pos-relative dis-block hov-img-zoom">
                  <img height="500" width="600" src="/blog/<%= b.picture[0]%>" alt="IMG-BLOG">

                  <span class="item-blog-date dis-block flex-c-m pos1 size17 bg4 s-text1">
                    <%= b.created %>
                  </span>
                </a>

                <div class="item-blog-txt p-t-33">
                  <h4 class="p-b-11">
                    <a href="blog-detail.html" class="m-text24">
                      <%= b.title %>
                    </a>
                  </h4>

                  <div class="s-text8 flex-w flex-m p-b-21">
                    <span>
                      By Admin
                      <span class="m-l-3 m-r-6">|</span>
                    </span>

                    <span>
                      <%= b.category.name %>
                      <span class="m-l-3 m-r-6">|</span>
                    </span>

                    <span>
                      <%= b.comments.length%>
                    </span>
                  </div>

                  <p class="p-b-12">
                    <%- b.hl %>
                  </p>

                  <a href="/blog/<%= b.id%>" class="s-text20">
                    Continue Reading
                    <i class="fa fa-long-arrow-right m-l-8" aria-hidden="true"></i>
                  </a>
                </div>
              </div>

            <% } %>
					</div>

					<!-- Pagination -->
					<div class="pagination flex-m flex-w p-r-50">
						<a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
						<a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-75">
					<div class="rightbar">
						<!-- Search -->
						<div class="pos-relative bo11 of-hidden">
							<input class="s-text7 size16 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search">

							<button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
								<i class="fs-13 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>

						<!-- Categories -->
						<h4 class="m-text23 p-t-56 p-b-34">
							Categories
						</h4>

							<ul>
								<% for(var c of category) { %>
									<li class="p-t-6 p-b-8 bo6">
										<a href="/blog/cat/<%= c.id %>" class="s-text13 p-t-5 p-b-5">
											<%= c.name %>
										</a>
									</li>
								<% } %>
							</ul>

						<!-- Featured Products -->
						<h4 class="m-text23 p-t-65 p-b-34">
							Featured Products
						</h4>

						<ul class="bgwhite">

							<% for(var p of products) { %>
                <li class="flex-w p-b-20">
  								<a href="/product/<%= p.id%>/details" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
  									<img src="/products/<%= p.image[0]%>" alt="IMG-PRODUCT">
  								</a>

  								<div class="w-size23 p-t-5">
  									<a href="/product/<%= p._id%>/details" class="s-text20">
  										<%= p.name %>
  									</a>

  									<span class="dis-block s-text17 p-t-6">
  									&#8358;	<%= p.price%>
  									</span>
  								</div>
  							</li>

              <% } %>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>


<%- include('../partials/foot') %>
