<%- include('../partials/head') %>

<section class="bgwhite p-t-66 p-b-60">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment" enctype="multipart/form-data" action="/blog" method="post">
          <h4 class="m-text26 p-b-36 p-t-15">
            Add A Blog Post
          </h4>

          <label for="">Title</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="title" placeholder="Blog Title">
          </div>

          <label for="">Image</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="[picture]" multiple>
          </div>

          <label for="">Category</label>
          <div class="bo4 of-hidden size15 m-b-20">
              <select class="selection-2" name="category" required>
                <% for(var c of category) { %>
                <option value="<%= c.id%>"><%= c.name%></option>
                <% } %>
              </select>
          </div>

          <label for="">Body</label>
          <div class="bo4 of-hidden size15 m-b-20">
            <textarea class="sizefull s-text7 p-l-22 p-r-22" id="ta" type="text" name="body" placeholder="Company Name">
            </textarea>
          </div>

          <div class="w-size25">
            <!-- Button -->
            <button type="submit" class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
              Add Post
            </button>
          </div>
        </form>
        <br>
        <a class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" href="/blog_cat">Add Category</a>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/foot') %>
