<%- include('../partials/head') %>

<section class="bgwhite p-t-60 p-b-25">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-50 p-r-0-lg">
						<div class="p-b-40">

							<div class="slick1">
								 <% for(var i of blog.picture){ %>
									 <div class="blog-detail-img wrap-pic-w">
	 									<img src="/blog/<%= [i] %>" alt="IMG-BLOG">
	 								</div>
								 <% } %>
							</div>

							<div class="blog-detail-txt p-t-33">
								<h4 class="p-b-11 m-text24">
									<%= blog.title %>
								</h4>

								<div class="s-text8 flex-w flex-m p-b-21">
									<span>
										By Admin
										<span class="m-l-3 m-r-6">|</span>
									</span>

									<span>
										<%=blog.created %>
										<span class="m-l-3 m-r-6">|</span>
									</span>

									<span>
										<%= blog.category.name%>
										<span class="m-l-3 m-r-6">|</span>
									</span>

									<span>
										<%= blog.comments.length %>
									</span>
								</div>

								<p class="p-b-25">
									<%- blog.body %>
								</p>
							</div>
						</div>

						<!-- Leave a comment -->
						<!-- <form class="leave-comment">
							<h4 class="m-text25 p-b-14">
								Leave a Comment
							</h4>

							<p class="s-text8 p-b-40">
								Your email address will not be published. Required fields are marked *
							</p>

							<textarea class="dis-block s-text7 size18 bo12 p-l-18 p-r-18 p-t-13 m-b-20" name="comment" placeholder="Comment..."></textarea>

							<div class="bo12 of-hidden size19 m-b-20">
								<input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="name" placeholder="Name *">
							</div>

							<div class="bo12 of-hidden size19 m-b-20">
								<input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="email" placeholder="Email *">
							</div>

							<div class="bo12 of-hidden size19 m-b-30">
								<input class="sizefull s-text7 p-l-18 p-r-18" type="text" name="website" placeholder="Website">
							</div>

							<div class="w-size24">
								<!-- Button --
								<button class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
									Post Comment
								</button>
							</div>
						</form> -->
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="rightbar">
						<!-- Search -->
						<div class="pos-relative bo11 of-hidden">
							<input class="s-text7 size16 p-l-23 p-r-50" type="text" name="search-product" placeholder="Search">

							<button class="flex-c-m size5 ab-r-m color1 color0-hov trans-0-4">
								<i class="fs-13 fa fa-search" aria-hidden="true"></i>
							</button>
						</div>

						<!-- Categories -->
						<h4 class="m-text23 p-t-56 p-b-34">
							Categories
						</h4>

						<ul>
							<% for(var c of category) { %>
								<li class="p-t-6 p-b-8 bo6">
									<a href="/blog/cat/<%= c.id %>" class="s-text13 p-t-5 p-b-5">
										<%= c.name %>
									</a>
								</li>
							<% } %>
						</ul>

						<!-- Featured Products -->
						<h4 class="m-text23 p-t-65 p-b-34">
							Featured Products
						</h4>

						<ul class="bgwhite">

							<ul class="bgwhite">

								<% for(var p of products) { %>
	                <li class="flex-w p-b-20">
	  								<a href="/product/<%= p._id%>/details" class="dis-block wrap-pic-w w-size22 m-r-20 trans-0-4 hov4">
	  									<img src="/products/<%= p.image[0]%>" alt="IMG-PRODUCT">
	  								</a>

	  								<div class="w-size23 p-t-5">
	  									<a href="/product/<%= p._id%>/details" class="s-text20">
	  										<%= p.name %>
	  									</a>

	  									<span class="dis-block s-text17 p-t-6">
	  										&#8358;<%= p.price%>
	  									</span>
	  								</div>
	  							</li>

	              <% } %>
							</ul>

						</ul>

					</div>
				</div>
			</div>
		</div>
	</section>

<%- include('../partials/foot') %>
